// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  none;
$value-color:       #fff;

$title-color:       #BFC1C3;
$label-color:       #6F777B;
$moreinfo-color:    #6F777B;

// ----------------------------------------------------------------------------
// Widget-scrollinglist styles
// ----------------------------------------------------------------------------
.widget-scrollinglist {

  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
    font-weight:normal;
  }

  ol, ul {
    margin: 0;
    padding:0;
    text-align: left;
    color: $label-color;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .value {
    color: $label-color;
  }
}
