/*
  //=require_directory .
  //=require_tree ../../widgets
*/

body {
  margin: 0;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

a, a:visited, a:hover {
  color:#005F9E;
  font-weight:bold;
}

#home {
  text-align: center;
  padding:50px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom:0.5em;
    }
  }
}

.footer {
  position:fixed;
  bottom:0;
  right:0;
  left:0;
  padding:10px 10px 5px 10px;
  z-index:999;
  background:#fff;

  h3{
    position:absolute;
    right:10px;
    top:13px;
    text-transform:uppercase;
    color:#005F9E;
    margin:0;
    font-size:30px;
  }

}


.gridster {
  margin: 0px auto;
  background:#fff;
}

.list-nostyle {
  list-style: none;
}

.gridster ul {
  list-style: none;
}

.gs_w {
  width: 100%;
  display: table;
  cursor: pointer;
}

.widget {
  padding: 0 12px;
  width: 100%;
  vertical-align: middle;
  .title {
    text-transform: uppercase;
    font-size:20px;
  }
}

.more-info {
  font-size: 15px;
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
}

.updated-at {
  font-size: 15px;
  position: absolute;
  left: 12px;
  right: 0;
  color: rgba(255, 255, 255, 0.7);
  display:none;
}

.scrolling-item {
  max-height: 120px;
  transition-property: all;
  transition-duration: 2s;
  overflow-y: hidden;
}

.scrolling-item.closed {
  max-height: 0;
}

.widget-scrollinglist {
  font-size:30px;
  font-weight:bold;
}

.gridster {
  li[data-row="1"] {
    background:#2e8aca;
    color:#fff;
    padding-bottom:5px;
  }
  li[data-row="3"] {
    padding-top:35px;
  }
}

.hidden-overflow {
  overflow: hidden;
}
