<% content_for :title do %>Croydon jobs dashboard<% end %>

<div class="gridster">
  <ul class="hidden-overflow">
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="categories_croydon" data-view="List"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="top_terms_croydon" data-view="List"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="2" data-sizey="2">
      <div data-id="employers_croydon" data-view="List"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="4" data-sizey="8">
      <div data-id="jobs_croydon" data-view="Jobs"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="2" data-sizey="8">
      <div data-id="search_ticker_croydon" data-view="Scrollinglist"></div>
    </li>
  </ul>
</div>
<div class="footer">
  <h3>Croydon</h3>
  <img src="/assets/uc.svg" height="30" alt="Universal Credit logo"/>
</div>
