<% content_for :title do %>Local jobs dashboards<% end %>

<div id="home">
  <h1>Choose a location</h1>

  <ul>
    <li><a href="/sutton">Sutton Job Centre</a></li>
    <li><a href="/croydon"> Croydon Job Centre</a></li>
  </ul>
</div>
