<% content_for :title do %>Choose a location<% end %>

<div id="home">
  <img src="/assets/uc.svg" height="170" alt="Universal Credit logo"/>
  <h1>Labour market dashboard (public)</h1>
  <p>
    Choose a location to display
  </p>
  <ul>
    <li><a href="/sutton">Sutton Jobcentre</a></li>
    <li><a href="/croydon"> Croydon Jobcentre</a></li>
  </ul>
</div>
