<% content_for :title do %>Local jobs dashboards<% end %>

<h1>Local jobs dashboards</h1>

<div class="gridster">
  <ul class="hidden-overflow">
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="widget">
        <a href="/sutton">Sutton Job Centre</a>
      </div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div class="widget">
        <a href="/croydon"> Croydon Job Centre </a>
      </div>
    </li>
  </ul>
</div>
