// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  None;
$value-color:       #fff;

$title-color:       #fff;
$label-color:       #fff;
$moreinfo-color:    #fff;

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-list {

  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
    font-weight:normal;
  }

  ol, ul {
    margin: 0;
    padding:0;
    text-align: left;
    color: $label-color;
    font-weight:bold;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
  }

  .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: $value-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }

  .more-info {
    color: $moreinfo-color;
  }

}
